# Editor directories and file
.ccls-cache
.ccls
# VSCode is the official editor for this project. The others are supported, but won't be added to Git.
.vs
.idea

# Build directories
bin
build
cmakebuild
cmake-build-debug
cmake-build-release
cmake-build-debugwithrelinfo

# Misc
*.log